Repository wavefunction91/qdk-chemistry: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-headers, check-version-alignment

check-license-headers:
  name: Check License Headers
  description: Verify all source files have the correct Microsoft license header
  entry: python3 .github/scripts/check_license_headers.py
  language: system
  pass_filenames: true
  require_serial: true

check-version-alignment:
  name: Check Version Alignment
  description: Verify all version strings in the codebase are aligned
  entry: python3 .github/scripts/check_version_alignment.py
  language: system
  pass_filenames: false
  require_serial: true

Add `merge_group` trigger to CI/CD workflows (#307)
  .github/workflows/build-and-test.yaml
  .github/workflows/precommit.yaml
  docs/source/conf.py
Due: check-license-headers, check-version-alignment

Reorganize examples into new directory setups (#312)
  .github/workflows/build-and-test.yaml
  examples/README.md
  examples/interoperability/openFermion/molecular_hamiltonian_jordan_wigner.py
  examples/interoperability/pennylane/qpe_no_trotter.py
  examples/interoperability/qiskit/iqpe_model_hamiltonian.py
  examples/interoperability/qiskit/iqpe_no_trotter.py
  examples/interoperability/qiskit/iqpe_trotter.py
  examples/interoperability/rdkit/sample_rdkit_geometry.py
  examples/language/cpp/CMakeLists.txt
  examples/language/cpp/simple_e2e.cpp
  examples/language/sample_sci_workflow.py
  examples/qpe_stretched_n2.ipynb
  examples/qsharp/iqpe_no_trotter.qs
  examples/utils/qpe_utils.py
  python/tests/test_sample_workflow.py
  python/tests/test_sample_workflow_openfermion.py
  python/tests/test_sample_workflow_qiskit.py
  python/tests/test_sample_workflow_rdkit.py
  python/tests/test_sample_workflow_sci.py
Due: check-license-headers

Add QDK-native QubitMapper (#255)
  cpp/include/qdk/chemistry/data/pauli_operator.hpp
  cpp/include/qdk/chemistry/utils/hash.hpp
  cpp/src/qdk/chemistry/data/pauli_operator.cpp
  cpp/tests/test_pauli_operator.cpp
  docs/source/_static/examples/python/qubit_mapper.py
  docs/source/references.bib
  docs/source/user/comprehensive/algorithms/qubit_mapper.rst
  docs/source/user/features.rst
  python/src/pybind11/data/pauli_operator.cpp
  python/src/qdk_chemistry/algorithms/__init__.py
  python/src/qdk_chemistry/algorithms/qubit_mapper/__init__.py
  python/src/qdk_chemistry/algorithms/qubit_mapper/qdk_qubit_mapper.py
  python/src/qdk_chemistry/algorithms/qubit_mapper/qubit_mapper.py
  python/src/qdk_chemistry/algorithms/registry.py
  python/src/qdk_chemistry/data/__init__.py
  python/src/qdk_chemistry/data/qubit_hamiltonian.py
  python/tests/test_algorithms_registry.py
  python/tests/test_qdk_qubit_mapper.py
  python/tests/test_qubit_hamiltonian.py
Due: check-license-headers

QDK-Chemistry Insights: Usage Tracking (#271)
  README.md
  docs/source/index.rst
  python/pyproject.toml
  python/src/qdk_chemistry/__init__.py
  python/src/qdk_chemistry/algorithms/__init__.py
  python/src/qdk_chemistry/utils/telemetry.py
  python/src/qdk_chemistry/utils/telemetry_events.py
Due: check-license-headers

PMC Docs (#260)
  docs/source/_static/examples/cpp/pmc.cpp
  docs/source/_static/examples/python/pmc.py
  docs/source/glossary.rst
  docs/source/user/comprehensive/algorithms/index.rst
  docs/source/user/comprehensive/algorithms/pmc.rst
Due: check-license-headers

Clarify Telemetry discussion forum instructions (#322)
  README.md
Due: none

Add tests and overflow guards for factorial and binomial_coefficient functions (#316)
  cpp/src/qdk/chemistry/algorithms/microsoft/utils.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/utils.hpp
  cpp/tests/test_utils.cpp
Due: check-license-headers

Move get_top_determinants, fix citations originating in cpp docs and fix QubitHamiltonian serialization (#318)
  .pipelines/bases/azurelinux/Dockerfile
  .pipelines/bases/azurelinux/build-local.sh
  .pipelines/os-base-images.yaml
  cpp/include/qdk/chemistry/data/wavefunction.hpp
  cpp/src/qdk/chemistry/data/wavefunction.cpp
  docs/source/_static/custom.css
  docs/source/_static/examples/cpp/quickstart.cpp
  docs/source/_static/examples/python/quickstart.py
  docs/source/conf.py
  docs/source/references.rst
  docs/source/user/quickstart.rst
  examples/interoperability/qiskit/iqpe_no_trotter.py
  examples/interoperability/qiskit/iqpe_trotter.py
  examples/qpe_stretched_n2.ipynb
  examples/state_prep_energy.ipynb
  examples/utils/qpe_utils.py
  python/src/pybind11/data/wavefunction.cpp
  python/src/qdk_chemistry/data/qubit_hamiltonian.py
  python/src/qdk_chemistry/utils/wavefunction.py
  python/tests/test_qubit_hamiltonian.py
Due: check-license-headers, check-version-alignment

MCSCF docs (#233)
  docs/source/_static/examples/data/n2_stretched.structure.xyz
  docs/source/_static/examples/python/mcscf.py
  docs/source/user/comprehensive/algorithms/mcscf.rst
Due: check-license-headers

Add Schatten norm property to QubitHamiltonian (#320)
  python/src/qdk_chemistry/data/qubit_hamiltonian.py
  python/tests/test_qubit_hamiltonian.py
Due: check-license-headers

Basisset Docs (#257)
  cpp/src/qdk/chemistry/data/basis_set.cpp
  cpp/tests/test_basis_set.cpp
  docs/source/_static/examples/cpp/basis_set.cpp
  docs/source/_static/examples/cpp/scf_solver.cpp
  docs/source/_static/examples/python/basis_set.py
  docs/source/_static/examples/python/scf_solver.py
  docs/source/user/comprehensive/algorithms/scf_solver.rst
  docs/source/user/comprehensive/data/basis_set.rst
Due: check-license-headers

Add changelog and wavefunction truncation helper (#328)
  CHANGELOG.md
  cpp/include/qdk/chemistry/data/wavefunction.hpp
  cpp/src/qdk/chemistry/data/wavefunction.cpp
  cpp/src/qdk/chemistry/data/wavefunction_containers/sci.cpp
  cpp/tests/test_wfn_sci.cpp
  docs/source/changelog.rst
  docs/source/index.rst
  python/src/pybind11/data/wavefunction.cpp
  python/tests/test_wavefunction.py
Due: check-license-headers

Refactor quantum phase estimation implementation (#310)
  examples/interoperability/qiskit/iqpe_model_hamiltonian.py
  examples/interoperability/qiskit/iqpe_no_trotter.py
  examples/interoperability/qiskit/iqpe_trotter.py
  examples/qpe_stretched_n2.ipynb
  examples/utils/qpe_utils.py
  python/src/qdk_chemistry/algorithms/__init__.py
  python/src/qdk_chemistry/algorithms/circuit_executor/__init__.py
  python/src/qdk_chemistry/algorithms/circuit_executor/base.py
  python/src/qdk_chemistry/algorithms/circuit_executor/qdk.py
  python/src/qdk_chemistry/algorithms/phase_estimation/__init__.py
  python/src/qdk_chemistry/algorithms/phase_estimation/base.py
  python/src/qdk_chemistry/algorithms/phase_estimation/iterative_phase_estimation.py
  python/src/qdk_chemistry/algorithms/registry.py
  python/src/qdk_chemistry/algorithms/time_evolution/controlled_circuit_mapper/pauli_sequence_mapper.py
  python/src/qdk_chemistry/data/__init__.py
  python/src/qdk_chemistry/data/circuit_executor_data.py
  python/src/qdk_chemistry/data/noise_models.py
  python/src/qdk_chemistry/data/qpe_result.py
  python/src/qdk_chemistry/phase_estimation/__init__.py
  python/src/qdk_chemistry/phase_estimation/base.py
  python/src/qdk_chemistry/phase_estimation/iterative_qpe.py
  python/src/qdk_chemistry/phase_estimation/traditional_qpe.py
  python/src/qdk_chemistry/plugins/qiskit/__init__.py
  python/src/qdk_chemistry/plugins/qiskit/circuit_executor.py
  python/src/qdk_chemistry/plugins/qiskit/standard_phase_estimation.py
  python/src/qdk_chemistry/utils/time_evolution.py
  python/tests/test_algorithms_registry.py
  python/tests/test_circuit_executor_data.py
  python/tests/test_circuit_executor_qdk_full_state.py
  python/tests/test_interop_qiskit_circuit_executor.py
  python/tests/test_interop_qiskit_phase_estimation_standard.py
  python/tests/test_noise_models.py
  python/tests/test_phase_estimation_base.py
  python/tests/test_phase_estimation_iterative.py
  python/tests/test_phase_estimation_traditional.py
  python/tests/test_time_evolution_circuit_mapper.py
  python/tests/test_utils_time_evolution.py
Due: check-license-headers

Style 'AutoCAS' as 'autoCAS' in user-facing text (#334)
  cpp/src/qdk/chemistry/algorithms/microsoft/active_space/autocas_active_space.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/active_space/entropy_active_space.cpp
  docs/source/_static/diagrams/plugin_architecture.dot
  docs/source/_static/examples/cpp/active_space_selector.cpp
  docs/source/_static/examples/python/active_space_selector.py
  docs/source/user/comprehensive/algorithms/active_space.rst
  docs/source/user/comprehensive/algorithms/mc_calculator.rst
  docs/source/user/features.rst
  examples/language/sample_sci_workflow.py
  examples/qpe_stretched_n2.ipynb
  python/src/pybind11/algorithms/active_space.cpp
  python/tests/test_sample_workflow_sci.py
Due: check-license-headers

ECPs in atom initial guess (#309)
  cpp/include/qdk/chemistry/data/basis_set.hpp
  cpp/src/qdk/chemistry/algorithms/microsoft/localization/vvhv.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/scf.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/scf.hpp
  cpp/src/qdk/chemistry/algorithms/microsoft/scf/include/qdk/chemistry/scf/scf/scf_solver.h
  cpp/src/qdk/chemistry/algorithms/microsoft/scf/src/scf/guess.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/scf/src/scf/ks_impl.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/scf/src/scf/ks_impl.h
  cpp/src/qdk/chemistry/algorithms/microsoft/scf/src/scf/scf_impl.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/scf/src/scf/scf_impl.h
  cpp/src/qdk/chemistry/algorithms/microsoft/scf/src/scf/scf_solver.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/scf/src/scf_algorithm/asahf.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/scf/src/scf_algorithm/gdm.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/scf/tests/util_tests.cpp
  cpp/src/qdk/chemistry/data/basis_set.cpp
  cpp/tests/test_basis_set.cpp
  cpp/tests/test_localization.cpp
  cpp/tests/test_macis.cpp
  cpp/tests/test_mc.cpp
  cpp/tests/test_mp2.cpp
  cpp/tests/test_stability.cpp
  docs/source/_static/examples/cpp/basis_set.cpp
  docs/source/_static/examples/python/basis_set.py
  docs/source/user/comprehensive/algorithms/scf_solver.rst
  docs/source/user/comprehensive/data/basis_set.rst
  python/src/pybind11/data/basis_set.cpp
  python/tests/test_basis_set.py
  python/tests/test_mp2.py
  python/tests/test_scf.py
  python/tests/test_stability.py
Due: check-license-headers

Remove failing filter (#344)
  python/pyproject.toml
Due: none

Add support for Python 3.10 (#343)
  .github/workflows/build-and-test.yaml
  .pipelines/python-wheels.yaml
  INSTALL.md
  python/CMakeLists.txt
  python/pyproject.toml
  python/src/qdk_chemistry/plugins/pyscf/conversion.py
  python/src/qdk_chemistry/utils/enum.py
  python/src/qdk_chemistry/utils/telemetry.py
  python/tests/test_scf.py
Due: check-license-headers, check-version-alignment

Path conditions:
  check-license-headers: any of: (?x)^(
  .*\.(cpp|h|hpp|cxx|cc|c|py)$
)$
 and not (^(external/|.*build/)) and .* and not (\.(xyz|fcidump|wfn|qasm)$)
  check-version-alignment: any of: (?x)^(
  python/CMakeLists\.txt|
  cpp/CMakeLists\.txt|
  docs/source/conf\.py
)$
 and .* and not (\.(xyz|fcidump|wfn|qasm)$)
