Repository wavefunction91/qdk-chemistry: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-headers, check-version-alignment

check-license-headers:
  name: Check License Headers
  description: Verify all source files have the correct Microsoft license header
  entry: python3 .github/scripts/check_license_headers.py
  language: system
  pass_filenames: true
  require_serial: true

check-version-alignment:
  name: Check Version Alignment
  description: Verify all version strings in the codebase are aligned
  entry: python3 .github/scripts/check_version_alignment.py
  language: system
  pass_filenames: false
  require_serial: true

Fix typo in basis_set.rst documentation (#135)
  docs/source/user/comprehensive/data/basis_set.rst
Due: none

Add function to show default algorithms (#127)
  python/src/pybind11/algorithms/factory_bindings.hpp
  python/src/pybind11/algorithms/scf.cpp
  python/src/pybind11/data/basis_set.cpp
  python/src/pybind11/data/orbitals.cpp
  python/src/pybind11/data/structure.cpp
  python/src/pybind11/data/wavefunction.cpp
  python/src/qdk_chemistry/algorithms/__init__.py
  python/src/qdk_chemistry/algorithms/registry.py
  python/tests/test_algorithms_registry.py
Due: check-license-headers

Add exponential backoff for ASCI grow_factor and improve refinement (#30)
  cpp/src/qdk/chemistry/algorithms/microsoft/macis_asci.hpp
  cpp/src/qdk/chemistry/algorithms/microsoft/macis_base.cpp
  cpp/tests/test_macis.cpp
  external/macis/include/macis/asci/determinant_search.hpp
  external/macis/include/macis/asci/grow.hpp
  external/macis/include/macis/asci/refine.hpp
  external/macis/tests/asci.cxx
Due: check-license-headers

remove data type validation for xyz files (#145)
  cpp/src/qdk/chemistry/data/structure.cpp
  cpp/tests/test_structure_comprehensive.cpp
  python/tests/test_structure.py
Due: check-license-headers

Fix docs.rst and examples for many classes (#112)
  cpp/include/qdk/chemistry/data/structure.hpp
  docs/source/_static/examples/cpp/active_space_selector.cpp
  docs/source/_static/examples/cpp/ansatz.cpp
  docs/source/_static/examples/cpp/localizer.cpp
  docs/source/_static/examples/cpp/orbitals.cpp
  docs/source/_static/examples/cpp/scf_solver.cpp
  docs/source/_static/examples/cpp/serialization.cpp
  docs/source/_static/examples/cpp/structure.cpp
  docs/source/_static/examples/cpp/wavefunction_container.cpp
  docs/source/_static/examples/python/active_space_selector.py
  docs/source/_static/examples/python/ansatz.py
  docs/source/_static/examples/python/localizer.py
  docs/source/_static/examples/python/orbitals.py
  docs/source/_static/examples/python/scf_solver.py
  docs/source/_static/examples/python/serialization.py
  docs/source/_static/examples/python/structure.py
  docs/source/_static/examples/python/wavefunction_container.py
  docs/source/user/comprehensive/algorithms/active_space.rst
  docs/source/user/comprehensive/algorithms/localizer.rst
  docs/source/user/comprehensive/algorithms/scf_solver.rst
  docs/source/user/comprehensive/data/ansatz.rst
  docs/source/user/comprehensive/data/orbitals.rst
  docs/source/user/comprehensive/data/serialization.rst
  docs/source/user/comprehensive/data/structure.rst
  docs/source/user/comprehensive/data/wavefunction.rst
Due: check-license-headers

Expose configurable eri_method for SCF solver (#155)
  cpp/src/qdk/chemistry/algorithms/microsoft/scf.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/scf.hpp
  cpp/tests/test_scf.cpp
Due: check-license-headers

Fix failing python tests if PySCF is not available (#167)
  python/tests/test_algorithms_registry.py
  python/tests/test_ansatz.py
  python/tests/test_docs_examples.py
  python/tests/test_stability.py
Due: check-license-headers

move the class VVHVLocalization from h file to cpp file as it is implementation details (#174)
  cpp/src/qdk/chemistry/algorithms/microsoft/localization/vvhv.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/localization/vvhv.hpp
Due: check-license-headers

Remove Cereal and Update CGManifest (#176)
  .devcontainer/Dockerfile
  .devcontainer/scripts/install_cpp_dependencies.sh
  .github/workflows/build-and-test.yaml
  .pipelines/devcontainer.yaml
  cpp/cmake/third_party.cmake
  cpp/manifest/qdk-chemistry/cgmanifest.json
  external/macis/manifest/cgmanifest.json
Due: none

Docs update for mp2 and cc containers (#160)
  docs/source/_static/examples/cpp/wavefunction_container.cpp
  docs/source/_static/examples/python/wavefunction_container.py
  docs/source/user/comprehensive/data/wavefunction.rst
Due: check-license-headers

Name QPE-related example files consistently. (#189)
  examples/README.md
  examples/pennylane/qpe_no_trotter.py
  examples/qiskit/iqpe_model_hamiltonian.py
  examples/qiskit/iqpe_no_trotter.py
  examples/qiskit/iqpe_trotter.py
  examples/qsharp/iqpe_no_trotter.qs
  python/tests/test_sample_workflow.py
Due: check-license-headers

Fix Angstrom/Bohr coordinate mix-ups in docs examples (#191)
  docs/source/_static/examples/cpp/hamiltonian.cpp
  docs/source/_static/examples/cpp/localizer.cpp
  docs/source/_static/examples/python/hamiltonian.py
  docs/source/_static/examples/python/localizer.py
  docs/source/_static/examples/python/quickstart.py
Due: check-license-headers

Add atomic weight references (#195)
  cpp/include/qdk/chemistry/constants.hpp
  cpp/include/qdk/chemistry/data/element_data.hpp
  cpp/src/qdk/chemistry/data/element_data.cpp
  docs/source/references.bib
Due: check-license-headers

Percentage-based selection of core determinants size. (#49)
  cpp/src/qdk/chemistry/algorithms/microsoft/macis_asci.hpp
  cpp/src/qdk/chemistry/algorithms/microsoft/macis_base.cpp
  cpp/tests/test_macis.cpp
  cpp/tests/test_mc.cpp
  examples/sample_sci_workflow.py
  external/macis/include/macis/asci/determinant_search.hpp
  external/macis/include/macis/asci/iteration.hpp
  external/macis/tests/asci.cxx
Due: check-license-headers

Migrate Pip Pipeline to 1ES (#154)
  .pipelines/install-scripts/install-blis.sh
  .pipelines/install-scripts/install-libflame.sh
  .pipelines/pip-scripts/build-pip-wheels.sh
  .pipelines/pip-scripts/test-pip-wheels.sh
  .pipelines/python-wheels.yaml
  .pipelines/templates/docker-pip-wheel.yml
  cpp/manifest/qdk-chemistry/cgmanifest.json
  external/macis/manifest/cgmanifest.json
  python/manifest/cgmanifest.json
  python/pyproject.toml
Due: none

Add sobolevnrm to pipelines review (#215)
  .github/CODEOWNERS
Due: none

Remove Persistent Build Cache in Local Pip Install (#208)
  .devcontainer/scripts/venv_and_widget.sh
  .github/workflows/build-and-test.yaml
  .pipelines/pip-scripts/build-pip-wheels.sh
  INSTALL.md
  python/pyproject.toml
Due: none

Add upper bound on numpy version (#240)
  python/pyproject.toml
Due: none

Move CaseInsensitiveStrEnum to utils.enum module (#236)
  python/src/qdk_chemistry/data/noise_models.py
  python/src/qdk_chemistry/utils/__init__.py
  python/src/qdk_chemistry/utils/enum.py
  python/tests/test_utils_enum.py
Due: check-license-headers

Consistent Capitalization in references.bib (#246)
  docs/source/references.bib
Due: none

Fix documentation problems (#251)
  INSTALL.md
  README.md
  docs/source/_static/custom.css
  docs/source/index.rst
  docs/source/user/comprehensive/algorithms/active_space.rst
  docs/source/user/comprehensive/algorithms/energy_estimator.rst
  docs/source/user/comprehensive/algorithms/factory_pattern.rst
  docs/source/user/comprehensive/algorithms/hamiltonian_constructor.rst
  docs/source/user/comprehensive/algorithms/localizer.rst
  docs/source/user/comprehensive/algorithms/mc_calculator.rst
  docs/source/user/comprehensive/algorithms/qubit_mapper.rst
  docs/source/user/comprehensive/algorithms/scf_solver.rst
  docs/source/user/comprehensive/algorithms/settings.rst
  docs/source/user/comprehensive/algorithms/state_preparation.rst
  docs/source/user/comprehensive/data/basis_set.rst
  docs/source/user/comprehensive/data/hamiltonian.rst
  docs/source/user/comprehensive/data/orbitals.rst
  docs/source/user/comprehensive/data/serialization.rst
  docs/source/user/comprehensive/data/structure.rst
  docs/source/user/comprehensive/design/index.rst
  docs/source/user/comprehensive/index.rst
  docs/source/user/comprehensive/plugins.rst
  docs/source/user/features.rst
  docs/source/user/quickstart.rst
Due: none

Fix spelling errors in docs (#253)
  docs/source/_static/examples/python/hamiltonian.py
  docs/source/user/comprehensive/algorithms/localizer.rst
  docs/source/user/comprehensive/design/index.rst
Due: check-license-headers

Fix spelling errors in codebase (#254)
  examples/state_prep_energy.ipynb
  python/src/qdk_chemistry/algorithms/registry.py
Due: check-license-headers

Refactor doc examples to load structures from XYZ files (#252)
  docs/source/_static/examples/cpp/active_space_selector.cpp
  docs/source/_static/examples/cpp/ansatz.cpp
  docs/source/_static/examples/cpp/dynamical_correlation.cpp
  docs/source/_static/examples/cpp/hamiltonian.cpp
  docs/source/_static/examples/cpp/hamiltonian_constructor.cpp
  docs/source/_static/examples/cpp/localizer.cpp
  docs/source/_static/examples/cpp/orbitals.cpp
  docs/source/_static/examples/cpp/quickstart.cpp
  docs/source/_static/examples/cpp/scf_solver.cpp
  docs/source/_static/examples/cpp/serialization.cpp
  docs/source/_static/examples/cpp/structure.cpp
  docs/source/_static/examples/data/h2.structure.xyz
  docs/source/_static/examples/data/para_benzyne.structure.xyz
  docs/source/_static/examples/python/active_space_selector.py
  docs/source/_static/examples/python/ansatz.py
  docs/source/_static/examples/python/basis_set.py
  docs/source/_static/examples/python/design_principles.py
  docs/source/_static/examples/python/dynamical_correlation.py
  docs/source/_static/examples/python/factory_pattern.py
  docs/source/_static/examples/python/hamiltonian.py
  docs/source/_static/examples/python/hamiltonian_constructor.py
  docs/source/_static/examples/python/interfaces.py
  docs/source/_static/examples/python/localizer.py
  docs/source/_static/examples/python/mc_calculator.py
  docs/source/_static/examples/python/orbitals.py
  docs/source/_static/examples/python/quickstart.py
  docs/source/_static/examples/python/scf_solver.py
  docs/source/_static/examples/python/serialization.py
  docs/source/_static/examples/python/structure.py
  docs/source/user/comprehensive/data/structure.rst
Due: check-license-headers

(De)serialization for rdms (#256)
  cpp/include/qdk/chemistry/data/wavefunction.hpp
  cpp/include/qdk/chemistry/data/wavefunction_containers/cas.hpp
  cpp/include/qdk/chemistry/data/wavefunction_containers/cc.hpp
  cpp/include/qdk/chemistry/data/wavefunction_containers/sci.hpp
  cpp/src/qdk/chemistry/data/hdf5_serialization.cpp
  cpp/src/qdk/chemistry/data/hdf5_serialization.hpp
  cpp/src/qdk/chemistry/data/wavefunction.cpp
  cpp/src/qdk/chemistry/data/wavefunction_containers/cas.cpp
  cpp/src/qdk/chemistry/data/wavefunction_containers/sci.cpp
  cpp/tests/test_wfn_cas.cpp
  cpp/tests/test_wfn_sci.cpp
  python/tests/test_wavefunction.py
Due: check-license-headers

Unify json / hdf5 serialization (#262)
  cpp/include/qdk/chemistry/data/wavefunction.hpp
  cpp/include/qdk/chemistry/data/wavefunction_containers/cas.hpp
  cpp/include/qdk/chemistry/data/wavefunction_containers/sci.hpp
  cpp/src/qdk/chemistry/data/json_serialization.cpp
  cpp/src/qdk/chemistry/data/json_serialization.hpp
  cpp/src/qdk/chemistry/data/wavefunction.cpp
  cpp/src/qdk/chemistry/data/wavefunction_containers/cas.cpp
  cpp/src/qdk/chemistry/data/wavefunction_containers/sci.cpp
  cpp/tests/test_mp2.cpp
  cpp/tests/test_wfn_cas.cpp
  cpp/tests/test_wfn_sci.cpp
Due: check-license-headers

Bug in naming of coupled cluster container (#265)
  cpp/src/qdk/chemistry/data/wavefunction.cpp
  cpp/tests/test_mp2.cpp
  cpp/tests/test_wfn_cas.cpp
  cpp/tests/test_wfn_cc.cpp
  cpp/tests/test_wfn_sci.cpp
  cpp/tests/test_wfn_sd.cpp
  python/tests/test_pyscf_plugin.py
Due: check-license-headers

Add test to example/sample_rdkit_structure.py (#231)
  .devcontainer/scripts/venv_and_widget.sh
  examples/rdkit/sample_rdkit_geometry.py
  python/tests/test_sample_workflow.py
  python/tests/test_sample_workflow_qiskit.py
  python/tests/test_sample_workflow_rdkit.py
  python/tests/test_sample_workflow_sci.py
  python/tests/test_sample_workflow_utils.py
Due: check-license-headers

Add modified GDM code and trial energy function (#222)
  cpp/src/qdk/chemistry/algorithms/microsoft/scf/src/scf/ks_impl.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/scf/src/scf/ks_impl.h
  cpp/src/qdk/chemistry/algorithms/microsoft/scf/src/scf/scf_impl.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/scf/src/scf/scf_impl.h
  cpp/src/qdk/chemistry/algorithms/microsoft/scf/src/scf_algorithm/diis_gdm.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/scf/src/scf_algorithm/gdm.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/scf/src/scf_algorithm/gdm.h
  cpp/src/qdk/chemistry/algorithms/microsoft/scf/src/scf_algorithm/line_search.h
Due: check-license-headers

Remove deprecated names (#227)
  external/macis/examples/README.md
  external/macis/python/pymacis/common.inl
  external/macis/python/tests/data/h2_valence_2e2o.hamiltonian.fcidump
  external/macis/python/tests/data/n2_full_14e18o.hamiltonian.fcidump
  external/macis/python/tests/data/n2_selected_6e6o.hamiltonian.fcidump
  external/macis/python/tests/test_pymacis.py
Due: none

Update qiskit dependency version constraints (#274)
  python/pyproject.toml
Due: none

Add SUPPORT.md (#282)
  README.md
  SUPPORT.md
Due: none

Allow to load ansatz from separate wfn / hamiltonian files (#276)
  cpp/src/qdk/chemistry/data/ansatz.cpp
  cpp/tests/test_ansatz.cpp
Due: check-license-headers

fix: preserve active space indices after orbital localization (#259)
  cpp/src/qdk/chemistry/algorithms/microsoft/localization/mp2_natural_orbitals.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/localization/pipek_mezey.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/localization/vvhv.cpp
  cpp/tests/test_localization.cpp
  python/src/qdk_chemistry/plugins/pyscf/localization.py
  python/tests/test_pyscf_plugin.py
Due: check-license-headers

Expose ConfigurationSet in python (#289)
  python/CMakeLists.txt
  python/src/pybind11/data/configuration.cpp
  python/src/pybind11/data/configuration_set.cpp
  python/src/pybind11/module.cpp
  python/src/qdk_chemistry/data/__init__.py
  python/tests/test_configuration_set.py
Due: check-license-headers, check-version-alignment

provide an example in passing QDK electronic Hamiltonian to OpenFermion (#241)
  .devcontainer/scripts/venv_and_widget.sh
  examples/openFermion/molecular_hamiltonian_jordan_wigner.py
  examples/pennylane/qpe_no_trotter.py
  python/tests/test_sample_workflow_openfermion.py
Due: check-license-headers

Add stability analysis in QDK Chemistry (#230)
  _codeql_detected_source_root
  cpp/include/qdk/chemistry/algorithms/stability.hpp
  cpp/include/qdk/chemistry/data/stability_result.hpp
  cpp/src/qdk/chemistry/algorithms/CMakeLists.txt
  cpp/src/qdk/chemistry/algorithms/microsoft/CMakeLists.txt
  cpp/src/qdk/chemistry/algorithms/microsoft/stability.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/stability.hpp
  cpp/src/qdk/chemistry/algorithms/stability.cpp
  cpp/tests/test_stability.cpp
  cpp/tests/ut_common.hpp
  docs/source/_static/examples/cpp/stability_checker_workflow.cpp
  docs/source/_static/examples/python/stability_checker_workflow.py
  docs/source/user/comprehensive/algorithms/stability_checker.rst
  python/src/pybind11/algorithms/stability.cpp
  python/src/qdk_chemistry/algorithms/__init__.py
  python/src/qdk_chemistry/algorithms/stability_checker.py
  python/src/qdk_chemistry/plugins/pyscf/scf_solver.py
  python/src/qdk_chemistry/plugins/pyscf/stability.py
  python/tests/reference_tolerances.py
  python/tests/test_pyscf_plugin.py
  python/tests/test_stability.py
Due: check-license-headers

Add N2 iterative QPE demo (#291)
  cpp/src/qdk/chemistry/algorithms/microsoft/macis_asci.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/utils.cpp
  cpp/src/qdk/chemistry/algorithms/microsoft/utils.hpp
  examples/qiskit/iqpe_model_hamiltonian.py
  examples/qpe_n2/qpe_stretched_n2.ipynb
  examples/qpe_n2/utils.py
  python/pyproject.toml
  python/src/qdk_chemistry/algorithms/state_preparation/sparse_isometry.py
  python/src/qdk_chemistry/phase_estimation/iterative_qpe.py
  python/src/qdk_chemistry/utils/time_evolution.py
  python/tests/test_phase_estimation_iterative.py
  python/tests/test_utils_time_evolution.py
Due: check-license-headers

Path conditions:
  check-license-headers: any of: (?x)^(
  .*\.(cpp|h|hpp|cxx|cc|c|py)$
)$
 and not (^(external/|.*build/)) and .* and not (\.(xyz|fcidump|wfn|qasm)$)
  check-version-alignment: any of: (?x)^(
  python/CMakeLists\.txt|
  cpp/CMakeLists\.txt|
  docs/source/conf\.py
)$
 and .* and not (\.(xyz|fcidump|wfn|qasm)$)
